.footer {
    text-align: center;
    width: 100%;
    height: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  .footer p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }