/* Not Important */
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 70%;
    height: 100%;
    /* object-fit: cover; */
  }
  .swiper-slide{
    background-color: #31363F;
    border-radius: 50px;
  }
  .swiper-button-next,.swiper-button-prev{
    color: white;
  }
  

  .swiper-certificate-image{
    width:80%;
    height:auto;
     object-fit:contain;
}
@media screen and (max-width: 850px) {
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
      }


.swiper-button-prev, 
.swiper-button-next{visibility: hidden;}
}